@import "tailwindcss";


@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
  }
  
  .animate-scroll {
    display: flex;
    white-space: nowrap;
    animation: scroll 10s linear infinite;
  }
  

.flag-container {
    width: 15vw;
    height: 11.25vw;
    max-width: 200px;
    max-height: 150px;
    min-width: 100px;
    min-height: 75px;
}